<footer>
{#  <div class="container">#}
{#    <div class="row">#}
{#      {% if informations %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_information }}</h5>#}
{#        <ul class="list-unstyled">#}
{#         {% for information in informations %}#}
{#          <li><a href="{{ information.href }}">{{ information.title }}</a></li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#      </div>#}
{#      {% endif %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_service }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ contact }}">{{ text_contact }}</a></li>#}
{#          <li><a href="{{ return }}">{{ text_return }}</a></li>#}
{#          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_extra }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>#}
{#          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
{#          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>#}
{#          <li><a href="{{ special }}">{{ text_special }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_account }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ account }}">{{ text_account }}</a></li>#}
{#          <li><a href="{{ order }}">{{ text_order }}</a></li>#}
{#          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
{#          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <hr>#}
{#    <p>{{ powered }}</p>#}
{#  </div>#}
  <div class="footer-container">
    <img src="{{ base }}image/footer-wawe.svg" alt="">
    <div class="footer-top">
      <div class="footer-top-content">
        <a class="navigation-logo" href="{{ base }}">
          <img class="navigation-logo" src="{{ logo }}" />
        </a>
        <div class="footer-top-grid">
          <a class="footer-top-link" href="https://www.instagram.com/hvylyasti/" target="_blank" rel="noopener noreferrer">
            <img src="{{ base }}image/icons/contacts/instagram_white.svg" alt="" />
            <span class="footer-top-link-text">hvylyasti</span>
          </a>
          <a class="footer-top-link" href="https://www.facebook.com/hvylyasti/" target="_blank" rel="noopener noreferrer">
            <img src="{{ base }}image/icons/contacts/facebook_white.svg" alt="" />
            <span class="footer-top-link-text">hvylyasti</span>
          </a>
          <a class="footer-top-link" href="mailto:{{ e_mail }}">
            <img src="{{ base }}image/icons/contacts/mail_white.svg" alt="" />
            <span class="footer-top-link-text">{{ e_mail }}</span>
          </a>
          <a class="footer-top-link" href="tel:{{ telephone }}">
            <img src="{{ base }}image/icons/contacts/phone_white.svg" alt="" />
            <span class="footer-top-link-text">{{ telephone }}</span>
          </a>
          <a class="footer-top-link" href="/">
            <span class="footer-top-link-text">Оплата та доставка</span>
          </a>
          <a class="footer-top-link" href="/">
            <span class="footer-top-link-text">Договір публічної оферти</span>
          </a>
          <a class="footer-top-link" href="/">
            <span class="footer-top-link-text">Сертифікат НАССР</span>
          </a>
          <a class="footer-top-link" href="/">
            <span class="footer-top-link-text">Політика конфіденційності</span>
          </a>
        </div>
      </div>
    </div>
{#    <div class="footer-bottom">#}
{#      <span class="copyright"></span> &nbsp; Хвилясті 2024#}
{#    </div>#}
  </div>
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>